.headerWrapper {
  background: #fff;
  border-bottom: 1px solid #fafafa;
}

.headerContainer{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo{
  display: flex;
  cursor: pointer;
}

.navWrapper {
  display: flex;
  margin: 0px;
  padding: 0px;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 8px;
    margin: 0px 80px 0 0;
    cursor: pointer;
    p {
      font-size: 16px;
      letter-spacing: 0.2em;
      margin: 0.4em 0px 0px;
    }
    span {
      font-size: 12px;
      letter-spacing: 0.1em;
    }
    &:before {
      display: flex;
      content: '';
      width: 8px;
      height: 8px;
      background: #f1d675;
      border-radius: 50%;
      opacity: 0;
    }
    &:hover {
      color: #769763;
      &:before {
        opacity: 1;
      }
    }
    &.active{
      color: #769763;
      &:before {
        opacity: 1;
      }
    }
  }
}

.controlPanel{
  display: flex;
  padding: 10px;
  margin: 0px;
  li{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    margin: 0px 16px 0px 0px;
   &.favoriteButton{
     background-image: url('/images/icons/heart_outline_icon.svg');
     &:hover{
      background-image: url('/images/icons/heart_filled_icon.svg');
     }
   }
   &.infoButton{
     background-image: url('/images/icons/faq_outline_icon.svg');
     &:hover{
      background-image: url('/images/icons/faq_filled_icon.svg');
     }
   }
  }
}


.menuListWrapper{
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 98px;
  z-index: 2;
  left: calc((100% - 1200px) / 2);
  background: rgba(255, 255, 255, .9);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.25s ease-out;
  ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 32px 160px;
    li{
      display: flex;
      align-items: flex-start;
      p{
        margin: 0px;
        color: #769763;
      }
      button{
        display: flex;
        align-items: center;
        background: none;
        color:#737373;
        &:hover{
          color: #769763;
        }
      }
    }
  }
}

.activeMenu{
  max-height: 274px;
  transition: max-height 0.25s ease-in;
}