@import '../../styles/customVariable.scss';
//  TODO  加上 auto-prefix 的問題
%searchbarWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 30px;
}

.searchbarWrapper {
  @extend %searchbarWrapper;
  max-height: 60px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.active {
  max-height: 315px;
  transition: max-height 0.25s ease-in;
  box-shadow: 0px 1px 4px #FFFFFF;
}

.inputWrapper {
  display: flex;
  width: 100%;
  input {
    border: none;
    height: 30px;
    width: 100%;
    font-size: 16px;
  }
}

.searchIcon {
  display: flex;
  cursor: pointer;
  background: none;
}

// 下方 toggle
.toggleSearchBox{
  span{
    font-size: 14px;
    color: #bdbdbd;
  }
}

.fakeSpace{
  border-bottom: 1px solid #ACACAC;
  margin: 10px 0 24px 0;
  opacity: 0;
}

.line{
  border-bottom: 1px solid #ACACAC;
  margin: 10px 0 24px 0;
}

.categoryList{
  display: flex;
  padding: 0px;
  margin: 16px 0;
  li{
    margin: 0 16px 0 0;
    position: relative;
    label{
      border-radius: 5px;
      border: 1px solid $middleColor;
      color: $middleColor;
      padding: 4px 16px;
      font-weight: 350;
      cursor: pointer;
      &:hover {
        border: 1px solid $primaryColor;
        background: $primaryColor;
        color: #ffffff;
      }
    }
    input[type="checkbox"]{
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      &:checked{
        +label{
          border: 1px solid $primaryColor;
          background: $primaryColor;
          color: #ffffff;
        }
      } 
    }
  }
}

// 熱門關鍵字
.hotKeyWordList{
  padding: 0px;
  margin: 8px 0;
  color: $middleColor;
  cursor: pointer;
  li{
    font-size: 16px;
    letter-spacing: .1rem;
    margin: 0 0 4px;
    &:hover{
      color: $primaryColor;
    }
  }
}