@import '../../styles/customVariable.scss';
// 共用的部分
//  TODO  之後要抽出來處理  
%heading {
  color: $middleColor;
  width: 40%;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.indexWrapper {
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.bannerBlock {
  position: relative;
  height: 100%;
}

.searchBlock {
  position: absolute;
  left: calc((100% - 512px) / 2);
  top: 40%;
}

.mainHeading{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
}

.exploreBlock {
  height: 725px;
  overflow: hidden;
  margin: 10rem 0px;
  position: relative;
}

// 文字區塊
.exploreHeading {
  @extend %heading;
  position: absolute;
  left: 180px;
}
.category {
  color: $primaryColor;
  font-size: 48px;
  font-weight: normal;
  line-height: 65px;
  margin: 0px;
}
.mainTitle {
  font-size: 48px;
  font-weight: normal;
  line-height: 70px;
  margin: 0px 0px 16px;
}
.description {
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.explorePicContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  right: -250px;
  &:before {
    display: block;
    content: '';
    width: 495px;
    height: 100%;
  }
}

// participateBlock
.participateBlock {
  display: flex;
  background: #FAFAFA;
  padding: 10rem 0;
}

.participateHeading {
  @extend %heading;
  padding: 0 0 0 2rem;
}

.buttonList {
  padding: 0px;
  li {
    cursor: pointer;
    color: $middleColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $primaryColor;
    padding: .8rem 0;
    p {
      margin: 0px;
    }
    &::before {
      content: '';
      display: block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: $secondaryColor;
      opacity: 0;
      margin: 0 0.5rem 0 0;
    }
    &:hover {
      color: $primaryColor;
      &::before {
        opacity: 1;
      }
    }
  }
}


// enjoyBlock
.enjoyBlock{
  padding: 10rem 0;
}

.enjoyHeading{
  @extend %heading;
  display: flex;
  width: 100%;
  padding: 0 180px;
  margin: 0 0 40px;
  h4{
    margin: 0px;
  }
  p{
    text-align: justify;
  }
}

.enjoyLeft{
  width: 50%;
}

.enjoyRight{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// 單純就一堆食物的輪播
.foodPicContainer{}

// 訂閱區塊
.subscribeBlock{
  background: $primaryColor;
  display: flex;
  width: 100%;
  padding: 10rem 150px;
}

.leftSpotPic{}
.subscribeHeading{
  @extend %heading;
  color: #ffffff;
  width: calc(100% - 562px);
  padding: 0 0 0 2rem;
  .category{
    color: $secondaryColor;
  }
}

.emailInput{}
.confirmButton{}

//  TODO  直接搜索應該就找得到了
.wrapper {
  display: flex;
  align-items: center;
  &[status='open'] {
    padding: 0 0 20px;
  }
}

