// 這個是給搜尋結果頁使用的部分
@import '../../styles/customVariable.scss';
.searchResultTabWrapper{
  padding: 24px 0 0 0;
}

.topSearchSummary{}

.searchBlock{
  display: flex;
  justify-content: space-between;
  >p{
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
  }
}

// 搜尋區塊相關的內容
.searchDetailContainer{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 72%;
}

.inputBlock{
  display: flex;
  input{
    width: 368px;
    border: 1px solid #737373;
    border-radius: 5px;
    padding: 10.5px 16px;
    &::placeholder {
      color: #ACACAC;
      font-size: 14px;
      top: 12px;
      position: absolute;
    }
  }
}

// 這是下拉式選單的部分
.selectCityBlock{
  //  TODO  色碼是否可以改掉  
  border: 1px solid #737373;
  border-radius: 5px;
  width: 465px;
  position: relative;
  &[status='open']{
    border-radius: 5px 5px 0 0;
  }
}

.showWrapper{
  padding: 8px 8px 0;
  box-sizing: border-box;
}

.showChoice{
  padding: 0px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagList{
  width: calc(100% - 30px);
  overflow: scroll;
  ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  > p{
    margin: 0px;
    font-size: 14px;
    line-height: 29px;
    color: #ACACAC;
  }
}

.toggleArrow{
  background-image: url('/images/icons/menu_arrow_icon.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all .5s;
  &[status='open']{
    transform: rotate(180deg);
  }
}

.selectCityLabel{
  background: #F1F5EE;
  color: #769763;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0 .5rem 0 0;
  min-width: 85px;
  p{
    margin: 0px;
  }
}

.cancelIcon{
  background-image: url('/images/icons/cancel_icon.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
}


.selectContainer{
  position: absolute;
  border-left: 1px solid #737373;
  border-right: 1px solid #737373;
  border-bottom: 1px solid #737373;
  border-radius: 0 0 5px 5px;
  top: 45px;
  width: 465px;
  left: -1px;
  background: #fff;
  z-index: 2;
  height: 200px;
  overflow: scroll;
  ul{
    padding: 0px;
    margin: 0px;
    li{
      display: flex;
      color: #737373;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      font-size: 14px;
      cursor: pointer;
      &:hover{
        background: #F1F5EE;
      }
      p{
        margin: 0px;
      }
      .icon{
        display: none;
      }
      &[status='active']{
        background: #F1F5EE;
        div{
          display: flex;
          background-image: url('/images/icons/success_icon.svg');
          background-size: cover;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.searchButton{
  display: flex;
  align-items: center;
  background: #A1B893;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px 16px;
  svg{
    path{
      fill: #fff;
    }
  }
}


// 切換 tab 選單
.tabWrapper{
  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    li{
      color: #737373;
      font-size: 20px;
      font-weight: 500;
      padding: 16px;
      cursor: pointer;
      border-bottom: 3px solid rgba(255, 255, 255, 0);
      &:hover{
        color: #769763;
        border-bottom: 3px solid #769763;
      }
      &.activeCategoryTab{
        color: #769763;
        border-bottom: 3px solid #769763;
      }
    }
  }
}



// 搜尋結果區塊
.resultAndFilterWrapper{
  background: #FAFAFA;
}